In [ ]:
# Tuple 자료형

In [2]:
a = (1, 2, 3)

In [7]:
a[1]

2

In [11]:
a[1] = 'A'
del a[1]
# 변경&삭제 불가 List이므로 수정시 예외 오류 발생

TypeError: 'tuple' object does not support item assignment

In [40]:
a = (1)
# Tuple로 인식되는 것이 아닌 숫자 1로 인식

b = (1,)
# Tuple로 인식, 숫자 1이라는 값이 1개 있는 형태

print(type(a))
print(type(b))

<class 'int'>
<class 'tuple'>

In [20]:
a[0]  # Tuple이 아닌 숫자라 인덱싱 불가능

TypeError: 'int' object is not subscriptable

In [29]:
print(b)
print(b[0])

(1,)
1

In [41]:
print(type((1)))
print(type((1,)))

<class 'int'>
<class 'tuple'>

In [47]:
a = 1, 2, 3, 4, 5
# tuple로 인식 (간략회된 문법)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [48]:
a = (1, 2, 3)
b = (4, 5, 6)

In [57]:
c = b + a
print(c)

(4, 5, 6, 1, 2, 3)

In [58]:
d = a * 3
print(d)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [66]:
# a = ("사과", "오렌지")
# Tuple의 ()는 생략 가능
a = "사과", "오렌지"

In [67]:
# (apple, orange) = a
# Tuple의 ()는 생략 가능
apple, orange = a

In [68]:
print(apple, orange)
# 재구조해 변수처럼 할당 가능

사과 오렌지

In [69]:
a = 20
b = 10

In [70]:
a, b = b, a
# a와 b의 값 교체
# JavaScript의 비구조 할당과 비슷

In [71]:
print(a, b)

10 20