In [1]:
# 변수

In [2]:
a = 10  # JAVA의 리터럴 상수와 비슷, 재료가 되는 수는 1개의 주소를 가지고 공유
b = 10

In [4]:
print(id(a), id(b))

140703703182040 140703703182040

In [31]:
a = [1, 2, 3, 4, 5]  # a = 참조 변수
# 모든 것이 객체이기때문에 값의 주소를 가져오는 참조변수임

In [32]:
b = a  # b는 a가 가지고 있는 주소값이 대입

In [33]:
print(b==a)  # 주소 비교

True

In [34]:
b[1] = '둘'

In [35]:
print(b)
print(a)
print(id(a), id(b))
# 같은 주소의 값이 변경 되어서

[1, '둘', 3, 4, 5]
[1, '둘', 3, 4, 5]
1816804225920 1816804225920

In [39]:
print(a==b)  # 주소 비교
a is b # a, b가 같은 객체를 참조하는지 체크

True

True

In [41]:
# 깊은 복사 [:] 사용

In [51]:
a = [1, 2, 3, 4, 5]

In [52]:
b = a[:]
# 전체 값을 복사해 새로운 List 객체로 반환

In [54]:
print(b)
print(a)
print(id(a), id(b))
a is b

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
1816800543168 1816809868032

False

In [56]:
b[1] = '둘'

In [59]:
print(a, b)  # 독립적 값 으로 유지

[1, 2, 3, 4, 5] [1, '둘', 3, 4, 5]

In [61]:
c = a.copy()  # 전체 값을 복사해 새로운 List 객체로 반환하는 함수

In [62]:
print(c)
print(a)
print(id(a), id(c))
a is c

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
1816800543168 1816809760896

False

In [69]:
c[2] = '셋'

In [70]:
print(a, c)

사과 [1, 2, '셋', 4, 5]

In [ ]:
# 변수 생성 & 대입

In [67]:
[a, b] = ['사과', '오렌지']

In [68]:
print(a, b)

사과 오렌지

In [72]:
a, b = 'python', 'life'

In [73]:
print(a, b)

python life