In [3]:
# 1. 평균 점수 구하기

In [56]:
exam = [{'과목' : '국어', '점수' : 80},
       {'과목' : '영어', '점수' : 75},
       {'과목' : '수학', '점수' : 55}]

total = 0
cnt = 0

for item in exam:
    total += item['점수']
    cnt += 1

print(total / cnt)

70.0

In [53]:
exam = [('국어', 80), ('영어', 75), ('수학', 55)]

avg = (exam[0][1] + exam[1][1] + exam[2][1]) / 3

print(avg)

70.0

In [54]:
# 2. 홀수 / 짝수 판별하기

In [57]:
# 자연수 13이 홀수인지 짝수인지 판별하기

num = 13

if num % 2 == 0 :
    print('num은 짝수입니다.')
else :
    print('num은 홀수입니다.')

num은 홀수입니다.

In [5]:
# 3. 주민등록번호 나누기

In [4]:
pin = '881120-1068234'
yyyymmdd = pin[:6]
num = pin[7:]

# 연월일 부분 출력
print(yyyymmdd)

# 숫자 부분 출력
print(num)

881120
1068234

In [6]:
# 4. 주민등록번호 인덱싱

In [8]:
pin = '881120-1068234'
print(pin[7])

1

In [9]:
# 5. 문자열 바꾸기

In [12]:
a = 'a:b:c:d:'
b = a.replace(':', '#')
print(b)

a#b#c#d#

In [13]:
# 6. List 역순 정렬

In [16]:
a = [1, 3, 5, 4, 2]

a.sort()
a.reverse()

print(a)

[5, 4, 3, 2, 1]

In [17]:
# 7. List -> 문자열 변환

In [20]:
a = ['Life', 'is', 'too', 'short']

result = ' '.join(a)

print(result)

Life is too short

In [21]:
# 8. Tuple 더하기

In [3]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [35]:
# 9. Dict의 Key

In [37]:
a = dict()
a

{}

In [39]:
a['name'] = 'python'

In [41]:
a[('a',)] = 'python'

In [4]:
a[[1]] = 'python'
# key 값은 변경 가능하기 때문에 List는 사용 불가능

TypeError: 'tuple' object does not support item assignment

In [45]:
a[250] = 'python'

In [46]:
# 10. Dict 값 추출

In [32]:
a = {'A' : 90, 'B' : 80, 'C' : 70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [18]:
# 11. List에서 중복 제거

In [26]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [27]:
# 12. Python 변수

In [6]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

# 주소값말고 값만 복사하려면 (깊은복사) 어케했을까요?
c = a[:]
d = a.copy()

print(c)
print(d)

# 주소 값이 같아서 a[1]을 변경하면 b[1]도 변경되어서
# b = [1, 4, 3]

[1, 4, 3]
[1, 5, 3]
[1, 4, 3]

In [30]:
# 제어문

In [31]:
# 1. 조건문의 참과 거짓

In [33]:
a = 'Life is to short, you need ptyhon'

if 'wife' in a: print('wife')
elif 'python' in a and 'you' not in a : print('python')
elif 'shirt' not in a : print('shirt')
elif 'need' in a: print('need')
else: print('none')

# 결과 값은..
# shirt

shirt

In [34]:
# 2. 3의 배수의 합 구하기

In [37]:
result = 0

i = 1

while i <= 1000 :
    if i % 3 == 0 :
        result += i
    i +=1

print(result)

166833

In [38]:
# 3. 별 표시하기

In [8]:
i = 0

while True : 
    i += 1
    if i > 5 : break
    print('*' * i)

*
**
***
****
*****

In [42]:
# 4. 1부터 100까지 출력하기

In [48]:
for i in range(1, 101) :
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [49]:
# 5. 평균 점수 구하기

In [9]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

total = 0

for score in A :
    
    total += score


average = total / len(A)

print(average)

79.0

In [55]:
# 6. 리스트 컴프리헨션 사용

In [1]:
number = [1, 2, 3, 4, 5]

result = [i for i in number if i % 2 == 1]

print(result)

[1, 3, 5]

In [57]:
# 입출력

In [58]:
# 1. 홀수, 짝수 판별하기

In [60]:
def is_odd(number) :
    if number % 2 == 1 :
        return True
    else :
        return False

In [61]:
# 2. 모든 입력의 평균값 구하기

In [17]:
def avg_numbers(*args) :
    result = 0
    for i in args :
        result += i
    return result / len(args)

print(avg_numbers(1, 2))
print(avg_numbers(1, 2, 3, 4, 5))

1.5
3.0

In [86]:
# 3. 프로그램 오류 수정하기1

In [ ]:
# input1 = input('첫 번째 숫자를 입력하세요 : ')
# input2 = input('두 번째 숫자를 입력하세요 : ')

# total = input1 + input2

# print('두 수의 합은 %s입니다' % total)