In [3]:
# 1. 평균 점수 구하기

In [56]:
exam = [{'과목' : '국어', '점수' : 80},
       {'과목' : '영어', '점수' : 75},
       {'과목' : '수학', '점수' : 55}]

total = 0
cnt = 0

for item in exam:
    total += item['점수']
    cnt += 1

print(total / cnt)

70.0

In [53]:
exam = [('국어', 80), ('영어', 75), ('수학', 55)]

avg = (exam[0][1] + exam[1][1] + exam[2][1]) / 3

print(avg)

70.0

In [54]:
# 2. 홀수 / 짝수 판별하기

In [57]:
# 자연수 13이 홀수인지 짝수인지 판별하기

num = 13

if num % 2 == 0 :
    print('num은 짝수입니다.')
else :
    print('num은 홀수입니다.')

num은 홀수입니다.

In [5]:
# 3. 주민등록번호 나누기

In [4]:
pin = '881120-1068234'
yyyymmdd = pin[:6]
num = pin[7:]

# 연월일 부분 출력
print(yyyymmdd)

# 숫자 부분 출력
print(num)

881120
1068234

In [6]:
# 4. 주민등록번호 인덱싱

In [8]:
pin = '881120-1068234'
print(pin[7])

1

In [9]:
# 5. 문자열 바꾸기

In [12]:
a = 'a:b:c:d:'
b = a.replace(':', '#')
print(b)

a#b#c#d#

In [13]:
# 6. List 역순 정렬

In [16]:
a = [1, 3, 5, 4, 2]

a.sort()
a.reverse()

print(a)

[5, 4, 3, 2, 1]

In [17]:
# 7. List -> 문자열 변환

In [20]:
a = ['Life', 'is', 'too', 'short']

result = ' '.join(a)

print(result)

Life is too short

In [21]:
# 8. Tuple 더하기

In [34]:
a = (1, 2, 3)
a
print(a)

(1, 2, 3)

In [35]:
# 9. Dict의 Key

In [37]:
a = dict()
a

{}

In [39]:
a['name'] = 'python'

In [41]:
a[('a',)] = 'python'

In [43]:
a[[1]] = 'python'
# key 값은 변경 가능하기 때문에 List는 사용 불가능

TypeError: unhashable type: 'list'

In [45]:
a[250] = 'python'

In [46]:
# 10. Dict 값 추출

In [ ]:
a = {'A' : 90, 'B' : 80, 'C' : 70}
result = 
print(a)
print(result)