In [3]:
# 1. a 리스트에서 중복 숫자를 제거해 보세요

In [5]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
setA = set(a)
a = list(setA)
print(a)

[1, 2, 3, 4, 5]

In [ ]:
# 2. 입력으로 들어오는 모든 수의 평균값을 계산해 주는 함수를 작성해보자.
# 단, 입력으로 들어오는 수의 개수는 정해져 있지 않다.

In [322]:
def add (*val) :
    result = 0
    result += int(val)
    argv = argv(result)
    print(argv)

In [323]:
add(10, 20)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'tuple'

In [15]:
# 3. [1, 2, 3, 4] 리스트의 각 요소값에 3이 곱해진 리스트 [3,6,9,12]를 만들어봅시다.

In [319]:
a = [1, 2, 3, 4]
b = [x * 3 for x in a]
b

[3, 6, 9, 12]