In [8]:
# 제어문 (for문)

In [ ]:
# Tuple - 변수와 동일하게 할당하여 사용하는 법

In [10]:
fruits = [('사과', 'apple'), ('오렌지', 'orange'), ('멜론', 'melon'), ('망고', 'mango')]

# Tuple은 () 생략 가능
for title, item in frtuis :
    print (title, item)

# for (title, item) in fruits :
#    print (titme, item)

# for item in fruits :
#    print(item)

사과 apple
오렌지 orange
멜론 melon
망고 mango

In [ ]:
# 문자열도 반복 가능

In [5]:
for item in 'ABC' :

    print(item)

A
B
C

In [ ]:
# range 함수

In [12]:
# 0~9
for i in range(10) :
    print(i, '반복')

0 반복
1 반복
2 반복
3 반복
4 반복
5 반복
6 반복
7 반복
8 반복
9 반복

In [14]:
# 1~10
for i in range(1, 11) :
    print(i, '반복')

1 반복
2 반복
3 반복
4 반복
5 반복
6 반복
7 반복
8 반복
9 반복
10 반복

In [15]:
# 1, 3, 5, 7, 9
for i in range(1, 11, 2) :
    print(i, '반복')

1 반복
3 반복
5 반복
7 반복
9 반복

In [16]:
# 중첩 for문 - 구구단 출력

In [20]:
# 2~9
for i in range(2, 10) :
    print('----- %d단 -----' % i)
    
    # 1~9
    for j in range(1, 10) :
        print(f'{i} X {j} = {i * j}')

----- 2단 -----
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
----- 3단 -----
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
----- 4단 -----
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
----- 5단 -----
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
----- 6단 -----
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
----- 7단 -----
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
----- 8단 -----
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
----- 9단 -----
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [21]:
# List Comprehension

In [23]:
nums = [22, 19, 2, 5, 77, 86, 25]

result = []

for i in nums :
    result.append(i * i)

print(result)

[484, 361, 4, 25, 5929, 7396, 625]

In [37]:
nums = [22, 19, 2, 5, 77, 86, 25]

# List Comprehension 문법
result = [ i * i for i in nums]

# 짝수만 제곱
result2 = [i * i for i in nums if i % 2 == 0]

print(result)
print(result2)

[484, 361, 4, 25, 5929, 7396, 625]
[484, 4, 7396]

In [38]:
nums1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums2 = [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

# result = [ i * j for i in nums1 for j in nums2]

# result = [ i * j for i in nums1
#                  for j in nums2]

result = [i * j for i in nums1 if i % 2 == 0
                for j in nums2 if j % 2 == 1]


print(result)

[22, 66, 110, 154, 198, 44, 132, 220, 308, 396, 66, 198, 330, 462, 594, 88, 264, 440, 616, 792, 110, 330, 550, 770, 990]