In [1]:
# 함수

In [2]:
def add(a, b) :
    return a + b

In [4]:
add(10, 20)

30

In [ ]:
# 함수 정의만 하고 구현체 미룰때 - pass

In [5]:
def sub(a, b) :
    pass

In [6]:
# Tuple로 반환 - 반환값 4개가 아니라 Tuple 1개!

In [13]:
def calc(a, b) :
#    return (a + b, a - b, a * b, a / b)
    return a + b, a - b, a * b, a / b

In [10]:
result = calc(10, 5)
print(result)
type(result)

(15, 5, 50, 2.0)

tuple

In [14]:
# (r1, r2, r3, r4) = calc(10, 5)
r1, r2, r3, r4 = calc(10, 5)

print(r1, r2, r3, r4)

15 5 50 2.0

In [15]:
# * = 가변 매개 변수 (Tuple로 값이 들어감)

In [41]:
# 첫번째 매개변수 = num,
# 나머지 매개변수 = params
def sum(num, *params) :

    print('num : ', num, '/ params : ', params, ' / type : ',
          type(params))
    total = 0
    
    for i in params :
        total += i
        
    return total

In [42]:
sum(10, 20, 30)

num :  10 / params :  (20, 30)  / type :  <class 'tuple'>

50

In [43]:
sum(1, 2, 3, 4, 5)

num :  1 / params :  (2, 3, 4, 5)  / type :  <class 'tuple'>

14

In [ ]:
# kwargs = 키워드 매개 변수

In [53]:
def min(a, b) :
    return a - b

In [54]:
# a = 10, b = 20
min(10, 20)

-10

In [56]:
# 직접 매개변수 키워드로 지정 가능
min(b = 20, a = 10)

-10

In [ ]:
# ** = Map형태 가변 매개변수

In [57]:
def words(**params) :
    print(params)

In [59]:
words(name='이이름', age=40, address='주소')

{'name': '이이름', 'age': 40, 'address': '주소'}

In [61]:
# Return의 다른 쓰임새 = 함수의 종료

In [63]:
def get_number(num) :
    if num % 10 == 0 :
        print('종료!')
        return  # 함수의 종료, 이 후 코드 실행 X

    print(num)

In [73]:
get_number(10)
get_number(11)

종료!
11

In [89]:
def get_number(num) :
    
    try:
        if num % 10 == 0:
            print("종료!")
            return # 함수의 종료, 이 후 코드는 실행 X
        print(num)
        
    finally :
        print("안녕!")

In [90]:
get_number(10)

종료!
안녕!

In [66]:
# 매개 변수 초기 값 설정

In [68]:
# 기본 값은 항상 마지막 매개변수부터 차례대로 설정!
def sum(a, b, c = 100) :
    return a + b + c

In [70]:
# c가 기본값인 100으로 대체
sum(10, 20)

130

In [71]:
# 기본값 설정을 마지막 매개변수부터 하지 않아서 오류
def sum2(a, b = 100, c) :
    return a + b + c

SyntaxError: parameter without a default follows parameter with a default (458429113.py, line 1)

In [72]:
# global 명령어

In [94]:
name = '이이름'

def message(msg) :
    # 전역변수 name을 message 함수 지역 내에서 사용하겠다
    global name
    
    print(f'{name}님 {msg}')

In [92]:
message('안녕하세요')

이이름님 안녕하세요

In [95]:
# Lambda 예약어 - 함수형 프로그래밍

In [96]:
# Lambda 없이 함수를 매개변수로 사용
# filter()

In [99]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 짝수 판별 함수 - 사용자 정의 함수, 일회용으로 사용하는 경우가 많음
def is_even(num) :
    return num % 2 == 0

even = filter(is_even, nums)

# List 형변환
even_nums = list(even)

print(even_nums)

[2, 4, 6, 8, 10]

In [ ]:
# Lambda 키워드 예약어 사용

In [101]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

is_even = lambda x : x % 2 == 0

even = list(filter(is_even, nums))

print(even)

[2, 4, 6, 8, 10]

In [102]:
# 매개 변수 안에 바로 Lambda 정의

In [103]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even = list(filter(lambda x : x % 2 == 0, nums))

print(even)

[2, 4, 6, 8, 10]